* {
	margin: 0;
	padding: 0;
}
body {
	background: #090b0f;
}
.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 0px;
	cursor: pointer;
	background-color: #30363D;
	color: #eee;
	border: none;
	outline: none;
}
.button:hover {
	background-color: #22252b;
}
.textview {
	width: 190px;
	margin: 5px;
	font-size: 25px;
	padding: 6px;
	border: none;
	outline: 0;
	color: #555;
}
.main {
	background-color: #353b42;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}