body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
}
.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background-color: rgba(0,0,0,0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #FFF;
	text-align: center;
}
.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background-color: transparent;
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	pointer-events: none;
	transition: .5s;
}
/* ANIMAÇÃO DE SUBIR OS NOMES "NOME" E "SENHA" AO CLICAR NOS CAMPOS */
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label { 
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.box input[type="submit"] {
	background-color: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background-color: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}
.box input[type="submit"]:hover {
	background-color: #0b96d6;
}
@media screen and (max-width: 600px) {
	.box {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 350px;
		padding: 30px;
		background-color: rgba(0,0,0,0.8);
		box-sizing: border-box;
		box-shadow: 0 15px 25px rgba(0,0,0,0.5);
		border-radius: 10px;
	}
}
@media screen and (max-width: 360px) {
	.box {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 310px;
		padding: 30px;
		background-color: rgba(0,0,0,0.8);
		box-sizing: border-box;
		box-shadow: 0 15px 25px rgba(0,0,0,0.5);
		border-radius: 10px;
	}
}